{
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y"
  ],
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "__PATH_PREFIX__": true
  }
}