// Import Main styles for this application
@import './scss/style.scss';

/* Header */

.logo {
  position: absolute;
  left: 50%;
  margin-left: -77.5px;

  @media only screen and (max-width: 350px) {
    img {
      display: none;
    }
  }
}

/* Dashboard */

.blink {
  animation: blinker 2.5s linear infinite;

  // color: #fa464e;
  color: $danger;
  font-weight: bold;
  font-size: 1.1em;
  border-style: solid;
  border-width: medium;
  border-radius: 12px;

  @media only screen and (max-width: 760px) {
    display: none;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.central-chart {
  height: 55vh;
  margin-top: 0;
}

.card-chart {
  height: 5vh;
}

/* Credits */

.github-icon {
  color: black;
}
