// Import Main styles for this application
@import './scss/style.scss';

/* Scrollbar */
$background-color: white;
$main-color: gray;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $main-color $background-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: $background-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 20px;
  border: 2px solid $background-color;
}

/* Header */

.logo {
  @media only screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
}

/* Dashboard */

.blink {
  animation: blinker 2.5s linear infinite;

  // color: #fa464e;
  color: $danger;
  font-weight: bold;
  font-size: 1.1em;
  border-style: solid;
  border-width: medium;
  border-radius: 12px;

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.central-chart {
  height: 55vh;
  margin-top: 0;
}

.card-chart {
  height: 5vh;
}

/* Credits */

.github-icon {
  color: black;
}
