// Here you can add other styles

a,
button {
  &:focus {
    outline: none;
  }
}

.ticker-footer {
  display: inline !important;
  padding: 0.9rem 1rem;
  border-top: 1px solid #c8ced3;
  white-space: nowrap;
}

.main-container {
  margin-top: 1.5rem;
}
