// Here you can add other styles

a,
button {
  &:focus {
    outline: none;
  }
}

.app-footer-custom {
  flex: 0 0 50px;
  padding: 1rem 1rem;
  color: #23282c;
  background: #f0f3f5;
  border-top: 1px solid #c8ced3;
  white-space: nowrap;
}
